<script>
	import successkid from 'images/successkid.jpg';
</script>

<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.4em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>We build micro-frontends!</title>
</svelte:head>

<h1>We build micro-frontends!!</h1>

<figure>
	<img alt="Success Kid" src="{successkid}">
	<figcaption>Disrupt the web monolith!</figcaption>
</figure>

<p><strong>Develop and compose modular apps together in a fast and scalable way, with an amazing dev experience at every step..</strong></p>
